.position {

    width: 1122px;
}
.ddd {
    float: right;
    color: black;
}
.middle {
    margin: auto;
    margin-top: 50px;
}
.input-style {
    padding: 30px;
    width: 720px;
    margin: auto;
}

.text-style {
    text-align: right;
}
.colorS {
    color: red;
}
.image-size {
    width: 117px;
    height: 125px;
}

.mid-text {
    margin: auto;
    margin-top: 10px;
}

.card-img {
    display: inline-block;
    margin: 5px 7px;
    border-radius: 50px;
    transition: all .7s;
    width: 120px;
}
li .icon-holder {
    background-color: white;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
    margin: 0 auto;
}
li .icon-holder .icon {
    height: 80px;
    width: 80px;
    display: block;
    margin: 30px auto 10px auto;
    transition: all .7s;
    padding: 15px;
}
li .icon-text {
    text-align: center;
    margin: 10px 0 0 0;
}